.marginleft-16 {
    margin-left: 16px;
}

.marginleft-32 {
    margin-left: 32px;
}

.marginright-8 {
    margin-right: 8px;
}

.marginright-32 {
    margin-right: 32px;
}

.marginbottom-24 {
    margin-bottom: 24px;
}

.marginbottom-32 {
  margin-bottom: 32px;
}

.margintop-8 {
    margin-top: 8px;
}

.margintop-16 {
    margin-top: 16px;
}